html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.root {
    position: relative;
}

.App {
    text-align: left;
    margin-top: 1rem;
}

.primary-color {
    background-color: #004B8D;
}

.secondary-color {
    background-color: #afbd21;
}

[icon="spinner"] {
    padding: 3em;
    height: 3em;
    vertical-align: center;
}

.jumbotron {
    border: 2px solid #afbd21;
}

.header-area {
    /* width: 100%; */
    /* margin: 50px auto; */
}

.header-area.form-control {
    padding-left: 1rem;
}

.header-area .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.post-title {
    display: inline;
    font-size: 2rem;
    text-align: center;
}

.check-case {
    padding-left: 0;
    text-align: left;
}

table {
    table-layout: auto;
}

thead tr {
    background-color: #fad710;
    color: white;
}

tbody tr td {
    background-color: rgba(175, 189, 33, .05);
    color: black;
}

tr.row {
    /* margin-left: auto;
    margin-right: auto; */
}

.user-table tr {
    background-color: #AFBD21;
}

.user-table caption {
    display: table-cell;
    vertical-align: bottom;
    caption-side: bottom;
    margin-left: 1rem;
}